* {
    box-sizing: border-box;
}

body {
    font-family: Lato, Open Sans, Arial, sans-serif;
}

/* Container */

.container {
    margin: 0% 20% 0% 20%;
}

@media only screen and (max-width: 1200px){
    .container {
        margin: 0% 12% 0% 12%;
    }
}

@media only screen and (max-width: 1024px){
    .container {
        margin: 0% 10% 0% 10%;
    }
}

/* Teksty */

.tytul{
    margin-top: 45px;
    padding-top: 0;
}

@media only screen and (max-width: 768px){
    .tytul {
        margin-top: 0px;
    }
}

h1 {
    font-size: 30px !important;
    text-align: center;
    padding-top: 5%;
    color: #333333 !important;
}

h2 {
    font-size: 23px !important;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5px;
    color: #333333 !important;
}

h3 {
    position: relative;
    font-size: 19px !important;
    padding-top: 4%;
    color: #3d3d3d !important;
    font-weight: bold !important;
}

h4 {
    font-size: 19px !important;
    color: #ededed !important;
    font-weight: bold !important;
}

p {
    font-size: 17px !important;
    font-weight: 500;
    margin-bottom: 5% !important;
    color: #323232 !important;
}

.podkreslenie{
    width: 45px;
    display: block;
    position: relative;
    margin: 0px auto;
    border-top:  3px solid #ce0909;
    opacity: 0.8;
}

.sep-line{
    height: 1px;
    border-top:  2px solid #ce0909;
    display: block;
    position: relative;
    width: 100%;
    top: 1px;
}

/* Teksty RWD*/

@media only screen and (max-width: 768px){
    h1 {
        font-size: 29px !important;
    }
    h2 {
        font-size: 22px !important;
    }
    h3, h4 {
        font-size: 18px !important;
    }
    p {
        font-size: 17px !important;
    }
}

@media only screen and (max-width: 600px){
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 21px !important;
    }
    h3, h4 {
        font-size: 17px !important;
    }
    p {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 480px){
    h1 {
        font-size: 27px !important;
    }
    h2 {
        font-size: 20px !important;
    }
}

/* List */

#lista_uslug {
    list-style-image: url(../ikony/checked.png);
    font-size: 17px !important;
    font-weight: 500;
    margin-bottom: 5% !important;
    color: #323232;
}

@media only screen and (max-width: 768px){

    #lista_uslug {
        font-size: 17px !important;
    }
}

@media only screen and (max-width: 600px){

    #lista_uslug  {
        font-size: 16px !important;
    }
}

/* Menu */


nav div i{
    font-size: 33px;
    color: #333333 !important;
    padding-bottom: 5% !important;
}

a:hover{
    text-decoration: none !important;
}

nav {
    padding-top: 5%;
    padding-bottom: 2%;
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    width: 100%;

}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover{
    color: #ffffff;
    background-color: #ce0909;
}

nav div{
    padding: 5px;
    cursor: pointer;
    display: none;
    float: right;
}

@media only screen and (max-width: 768px){

    nav {
        margin-top: 8%;
        padding-bottom: 3%;
        width: 100%;
    }

    nav div{
        display: block;
        width: 45px;
    }

    nav ul{
        display: none;
    }

    nav ul li a{

        font-size: 16px;

    }

    nav ul li{
        display: block;
        text-align: center;
        border-bottom: 1px  solid #ce0909;
    }    

}

/* Logo */

#logo {

    padding-top: 4%;

}

@media only screen and (max-width: 768px){
    #logo {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        position: absolute;  
    }
}

/* Galeria */

.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 8px 8px;
    float: left;
    width: 49.99999%;
}

@media only screen and (max-width: 1024px) {
    .responsive {
        width: 49.99999%;
        margin: 8px 0;
    }
}

@media only screen and (max-width: 480px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;  
}

/* Slajder */

.mySlides {
    width: 100%;
    height: auto;
    margin: 55px 0px 5px 0px;
}

/* Zdjęcie- oferta */

#img-oferta{
    width: 100%;
    height: auto;
    margin: 5px 0px;
    padding-top: 3%;
}

/* Blok txt i img */

#break-line{
    display: block;
}

@media only screen and (max-width: 768px){
    #break-line {
        display: none;
    }
}

#txt-and-img.row {
    margin-top: 2% !important;
    margin-bottom: 3% !important;

}

@media only screen and (max-width: 480px) {
    #txt-and-img.row {
        margin-bottom: 6% !important;
    }
}

#img-next-txt {
    width: 100%;
    height: auto;
}

#oferta-txt{
    padding-top: 4%;
}

/* Mapa */

#map {
    width:100%;
    height:500px;
    margin: 3% 0;
}

#map p {
    color: white !important;
    text-align: center;
}

/* Blok ikony */

.row{
    margin-top: 4% !important;
    margin-bottom: 7% !important;
}

.ikona{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

#icon{
    height: 60px;
}

/* Formularz */

.btn-primary {
    background-color: #ce0909 !important;
    border: none !important;

}

#kolumna_formularz{
    width: 50%;
    margin: 5px 0px 5px 0px;
    float: left;
}

#kolumna_formularz h3{
   padding-top: 2% !important;
}

.form-control {
    margin: 10px 0px 10px 0px;
}

@media only screen and (max-width: 768px){
    #kolumna_formularz{
        width: 100%;

    }
}

/* Adres */

#kolumna-adres{
    margin: 5px 5px;
    float: right;
}

@media only screen and (max-width: 768px){
    #kolumna-adres{
        display: block;
        width: 100%;
        float: left;
    }
}

/* Footer */

#footer-content.row{
    padding-top: 4% !important;
    margin-bottom: 2% !important;
}

footer {
    background: #3e3e3e;
    width: 100%;
    height: auto;
}

footer p {
    color: #9b9b9b !important;
    font-weight: normal !important;
}

.ikona-footer p{
    margin-left: 7px;
}

.footer-bottom{
    margin: auto;
    width: 100%;
    height: auto;
    background: #313131;
    padding: 10px;
    text-align: center;
}

.ikona-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-bottom p{
    margin-bottom: 0 !important;

}

.col-sm span a{
    font-size: 30px;
    color: #7C7C7C !important;
}

.col-sm span a{
    padding: 4px;
}

#facebook a:hover{
    color: #3B5998 !important;
}

#yt a:hover{
    color: #FF0000 !important;
}

#linkedin a:hover{
    color: #0077B5 !important;
}
